<div class="container">
  
  <% content_for :title do %> Contact <% end %>  
  <h3>Contact</h3>
  
    <div class="form">
    <div class="well">
    <%= simple_form_for @contact do |form| %>
      <%= form.error_notification %>
      <%= form.input :name, :required => true, autofocus: true %>
      <%= form.input :email, :required => true %>
      <%= form.input :message, as: :text, :required => true, :input_html => {:rows => 10} %>
      
      <div class= "hidden">
      <%= form.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      
      <%= form.button :submit, 'Send message', class: 'btn btn-primary' %>
    <% end %> 
    </div>
  </div>
</div>
