<div class="container">
  <p id="notice"><%= notice %></p>
  <%= image_tag((@post.image_file_name), :class => "img-rounded", height: '140px', width: '140px' )%>
  <p>
    <h2>    <%= @post.title %> </h2>
  </p>
  <p>
    <br>
    <%= @post.description %>
  </p>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
</div>
